body{
    margin: 0;
    padding: 0;
    background-color: #827575;
}

.formContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid rgb(232, 155, 155);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px;
    transition: all 0.2s ease-in;
}

.formElement{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.formElement input, textarea{
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
    resize: none;
}

.formButton {
    width: 100px;
    padding: 10px;
    margin-left: auto;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
}

.formButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    transform: translateX(-5px) translateY(-5px);
}